<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Search results</title>
    <link href="assets/style/index.css" rel="stylesheet" />
  </head>
  <body>
    <header class="header">
      <a href="http://localhost:8080" class="logo">Return</a>
    </header>

    <h1 class="logo">Your Search Results</h1>
    {{range .}}
    <a href="artist/?id={{ .ID }}">
      <img src="{{.Image}}" alt="{{.Name}}" />
    </a>
    {{end}}
  </body>
</html>
